body {
  margin: 0;
  background: rgb(255, 255, 255);
}

#red{
  height: 100px;
  background: rgb(218, 255, 117);
  text-align: center;
}
#yellow{
  height: 100px;
  background: rgb(28, 253, 126);
  text-align: center;
}
#blue{
  height: 100px;
  background-color: rgb(205, 15, 243);
  text-align: center;
}