body {
  margin: 0;
  background: rgb(147, 147, 147);
}

#red{
  height: 100px;
  background: red;
  text-align: center;
}
#yellow{
  height: 100px;
  background: yellow;
  text-align: center;
}
#blue{
  height: 100px;
  background-color: blue;
  text-align: center;
}